{{topic._id.title}}

<a href="/post/new">
    <button>
        Create New Post
    </button>
</a>

{{#each allPosts}}
<a href="/post/{{_id}}">
    <div class="post-item">
        <img src='{{image}}' />
        <div class="post-content"></div>
        {{content}}
        <div class="date"></div>
        {{date}}
        <div class="comment-counter">Comments:</div>
        {{commentCounter}}
    </div>
</a>
{{/each}}