<h2>Update Post</h2>

<form action="/post/{{singlePost._id}}?_method=PUT" method="POST" class="post-edit-form" method="POST">

  <img src='{{image}}' value='{{singlePost._id.image}}'/>

  <label>What do you want to update?</label>
  <textarea type="text" rows="15" columns="30" name="content" required>
    {{singlePost.content}}
  </textarea>

  <input type="submit" value="Update Post" />
</form>
<form action="/post/{{singlePost._id}}" method="GET">
  <input type="submit" value="Cancel">
</form>