<a href="/post">
  <button>
    Back to All Posts
  </button>
</a>

{{allTopics._id.title}}

<div class="title"></div>
{{singlePost.image}}

<div class="title">Content</div>
{{singlePost.content}}

<div class="title">Date Created</div>
{{singlePost.date}}

<div class="title">Comments</div>
{{singlePost.commentCounter}}

<a href="/post/{{singlePost._id}}/edit">
  <button>
    Edit
  </button>
</a>

<form action="/post/{{singlePost._id}}?_method=DELETE" method="POST">
  <input type="submit" onclick="return confirm('Are you sure you want to delete this item?')" value="Delete">
</form>